<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee List</title>
</head>
<body>

<th:block th:replace="Header.html"></th:block>
	
	<div class="container-fluid">
			<div class="card">
				<div class="card-header bg-info text-white text-center">
				<h5>Employee List</h5>
				</div>
				
				<div class="card-body">
					
					<table class="table table-bordered table-striped">
						<div class="p-2">
							<a href="/employee/excel"><input type="submit" value="Excel" class="btn btn-success"></a>
							<a href="/employee/pdf"><input type="submit" value="Pdf" class="btn btn-warning"></a>
						</div>
						
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Gender</th>
								<th>Phone</th>
								<th>Email</th>
								
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="employee: ${eList}">
								<td th:text="${employee.fname}"></td>
								<td th:text="${employee.lname}"></td>
								<td th:text="${employee.gender}"></td>	
								<td th:text="${employee.phone}"></td>
								<td th:text="${employee.email}"></td>
								
								
																	
								<td>
									<a th:href="@{/employee/view(id=${employee.id})}"> <input type="submit" value="View" class="btn btn-info"></a>
									<a th:href="@{/employee/edit(id=${employee.id})}"> <input type="submit" value="Edit" class="btn btn-info"></a>
									<a th:href="@{/employee/delete(id=${employee.id})}"> <input type="submit" value="Delete" class="btn btn-danger"></a>
									
								</td>
								</tr>
						</tbody>				
					</table>
				
				</div>
				<div class="card-footer text-center bg-warning">copyright@2025</div>
		</div>	
	</div>
</body>
</html>